apiVersion: v1
kind: Service
metadata:
  name: auth
spec:
  selector:
    app: auth
  ports:
    - name: http
      port: 80
      targetPort: 8082
    - name: grpc
      port: 9090
      targetPort: 9090
